body {
  background-image: url('fotos/patron-transparente-azul-patitas_197792-6319.png'); /* Ruta a tu imagen de patrón */
  background-repeat: repeat;
  background-size: auto; 
  background-position: top left; 
  margin: 0;
  padding: 0;
}

header{
  background-color:#0056b3;
  
}

.card {
  margin-bottom: 1.5rem;
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.card-img-top {
  height: 200px; 
  object-fit: cover; 
  width: 100%; 
}
.card-body {
  text-align: center; 
  padding: 1rem; 
}
.btn-primary {
  background-color: #007bff; 
  border-color: #007bff; 
}
.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #004085; 
}
.table-card {
  width: 100%; 
  border-collapse: separate;
  border-spacing: 1rem; 
}
.table-card td {
  vertical-align: top;
}
.table-card img {
  max-width: 100%;
}
.carousel-inner {
  max-height: 800px; 
}
.carousel-item img {
  width: 100%; 
  height: 100%; 
  max-height: 1100px;
  object-fit: cover; 
  object-position: center;
}
.card-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 30vh auto;
  width: 300px;
}

#churu {
  width: fit-content;
  height: fit-content;
  object-position: center;
}